QFrameTest/Library/ArtifactDB
QFrameTest/Library/ProtocolInstance.json
QFrameTest/Library/SourceAssetDB
QFrameTest/Library/Artifacts/0d/0d76e9d8d7b4922e0e85f63c54c511d0
QFrameTest/Library/Artifacts/21/21c72bd8346e5dc818d364f5eec751bd
QFrameTest/Library/Artifacts/34/34fcce44bd1eba2a4046ef0367881d3c
QFrameTest/Library/Artifacts/36/36a7ef0eeca8c5c9fc201034e4cd391b
QFrameTest/Library/Artifacts/5f/5f5d3ae2c6df3a5af8990d76fdd396e2
QFrameTest/Library/Artifacts/91/9123643dea44c181b71859a2e9101f10
QFrameTest/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
QFrameTest/Library/ScriptAssemblies/Assembly-CSharp.dll
QFrameTest/Library/ScriptAssemblies/Assembly-CSharp.pdb
QFrameTest/Library/StateCache/Hierarchy/7aafe0-mainStage.json
